---
import RootLayout from '../layouts/RootLayout.astro';
import DemoLayout from '../layouts/DemoLayout.astro';
---

<script type="module"></script>


<RootLayout>
	<DemoLayout>
		<section id="center">
			<iframe src="https://codepen.io/argyleink/full/vYQQEmo" width="100%" height="800px" style="border: none;"></iframe>
            <a href="https://codepen.io/argyleink/full/vYQQEmo" target="_blank" style="display: block; margin-top: 1rem; text-align: center;">View</a>
		</section>
	</DemoLayout>
</RootLayout>
