---
import RootLayout from '../layouts/RootLayout.astro';
import DemoLayout from '../layouts/DemoLayout.astro';
---

<script type="module">
	const radiusInput = document.getElementById('radius');

	if (radiusInput instanceof HTMLInputElement && radiusInput.type === 'range') {
		radiusInput.addEventListener('input', () => {
			document.querySelector('.demo-panel-filter').style.setProperty('--radius', `${radiusInput.value}px`);
		});
	}
</script>

<RootLayout>
	<DemoLayout>
		<section id="center">
			<style>
				.wrapper {
					border-radius: 8px;
					background-color: #0d0f12;
					color: white;
					-webkit-print-color-scheme: dark;
					color-scheme: dark;
					display: flex;
					flex-direction: column;
					align-items: center;
					padding: 0;
					border-radius: 0;
					isolation: isolate;
					border-right: 1px solid #454d54;
					height: 800px;
				}

				.demo-navbar {
					position: sticky;
					top: 0;
					left: 0;
					right: 0;
					height: 100px;
					width: 100%;
					z-index: 2;
					border-bottom: 1px solid rgba(163, 179, 194, 0.2);
				}

				.demo-panel-filter {
					position: absolute;
					inset: 0;
					height: 200%;
					background: linear-gradient(to bottom, hsl(0deg 0% 0%) 0%, transparent 50%);
					backdrop-filter: blur(var(--radius, 16px));
					mask-image: linear-gradient(to bottom, black 0% 50%, transparent 50% 100%);
					pointer-events: none;
				}

				.demo-img {
					width: 100%;
					max-width: 300px;
					margin-top: 1rem;
				}
			</style>

			<div style="max-height: 450px; overflow:auto; width: 80%;">
				<div class="wrapper">
					<div class="demo-navbar"><div class="demo-panel-filter" style="--radius: 16px;"></div></div><img loading="lazy" src="https://www.joshwcomeau.com/images/backdrop-filter/boats.jpg" class="demo-img" />
					<p style="padding-top: 1rem;">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo reprehenderit eos quos officia temporibus porro beatae inventore, facilis officiis saepe itaque consequatur harum provident a atque doloribus maxime blanditiis sit.
					</p>
				</div>
			</div>

			<input
				style="--handle-color:var(--color-gray-900);--handle-focus-color:radial-gradient(
    hsl(48deg 100% 75% / 1),
    hsl(48deg 100% 75% / 0) 40%
  ),
  conic-gradient(
    from 90deg at 50% 50%,
    hsl(45deg 100% 55%),
    hsl(52deg 100% 75%),
    hsl(45deg 100% 55%),
    hsl(52deg 100% 75%),
    hsl(45deg 100% 55%),
    hsl(52deg 100% 95%),
    hsl(45deg 100% 55%)
  );--background-color:var(--color-background);--base-handle-size:16px;--track-size:3px"
				type="range"
				id="radius"
				min="0"
				max="16"
				value="13"
			/>
		</section>

		<section id="spacer"></section>

		<section id="center">
			<style>
				.demo-2 {
					width: 600px;
					max-height: 400px;
					overflow-y: auto;
					background-color: white;
				}

				.demo-2-container {
					height: calc(100vh + 200px);
					margin: auto;
					flex-direction: column;
					width: 300px;
				}

				.demo-2-container header {
					position: sticky;
					top: 80px;
					width: 100%;
					padding: 2rem;
					z-index: 2;
				}

				.demo-2-container .ball-container {
					display: flex;
					justify-content: space-between;
					gap: 4px;
					margin-top: 90px;
				}

				.demo-2-container .ball {
					width: 64px;
					height: 64px;
					background: red;
					border-radius: 2px;
				}

				.demo-2-container .demo-2-backdrop {
					position: absolute;
					inset: 0;
					height: 200%;
					backdrop-filter: blur(16px);
					mask-image: url(#frostyGlassMask);
				}
				/*
                    Our SVG mask fills the space,
                    to match the same size
                */
				.demo-2-container .demo-2-svg-mask {
					position: absolute;
					inset: 0;
				}
			</style>

			<div class="demo-2">
				<div class="demo-2-container">
					<header>
						<div class="demo-2-backdrop"></div>
						<svg class="demo-2-svg-mask" width="100%" height="100%" preserveAspectRatio="none">
							<mask id="frostyGlassMask">
								<rect class="header-rect" width="100%" height="100%" fill="white" rx="8" ry="8"></rect>
							</mask>
						</svg>
					</header>
					<div class="ball-container">
						<div class="ball"></div>
						<div class="ball"></div>
						<div class="ball"></div>
					</div>
				</div>
			</div>
		</section>

		<section id="spacer"></section>

		<style>
			/* Defs */
			@property --angle-1 {
				syntax: '<angle>';
				inherits: false;
				initial-value: -75deg;
			}

			@property --angle-2 {
				syntax: '<angle>';
				inherits: false;
				initial-value: -45deg;
			}

			:root {
				--demo-3-global--size: clamp(1rem, 4vw, 2rem);
				--anim--hover-time: 400ms;
				--anim--hover-ease: cubic-bezier(0.25, 1, 0.5, 1);
			}

			.demo-3 {
				width: 100%;
				/* height: 100vh; */
				margin: 0;
				padding: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: var(--demo-3-global--size);
				background-color: rgba(215, 215, 215, 1);
				font-family: 'Inter', sans-serif;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				overflow: hidden;

				/* ========== BUTTON ========== */

				/* Button Wrap Container */
				.button-wrap {
					position: relative;
					z-index: 2;
					border-radius: 999vw;
					background: transparent;
					pointer-events: none;
					transition: all var(--anim--hover-time) var(--anim--hover-ease);
				}

				/* Button Shadow Container */
				.button-shadow {
					--shadow-cuttoff-fix: 2em;
					position: absolute;
					width: calc(100% + var(--shadow-cuttoff-fix));
					height: calc(100% + var(--shadow-cuttoff-fix));
					top: calc(0% - var(--shadow-cuttoff-fix) / 2);
					left: calc(0% - var(--shadow-cuttoff-fix) / 2);
					filter: blur(clamp(2px, 0.125em, 12px));
					-webkit-filter: blur(clamp(2px, 0.125em, 12px));
					-moz-filter: blur(clamp(2px, 0.125em, 12px));
					-ms-filter: blur(clamp(2px, 0.125em, 12px));
					overflow: visible;
					pointer-events: none;
				}

				/* Shadow */
				.button-shadow::after {
					content: '';
					position: absolute;
					z-index: 0;
					inset: 0;
					border-radius: 999vw;
					background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
					width: calc(100% - var(--shadow-cuttoff-fix) - 0.25em);
					height: calc(100% - var(--shadow-cuttoff-fix) - 0.25em);
					top: calc(var(--shadow-cuttoff-fix) - 0.5em);
					left: calc(var(--shadow-cuttoff-fix) - 0.875em);
					padding: 0.125em;
					box-sizing: border-box;
					mask:
						linear-gradient(#000 0 0) content-box,
						linear-gradient(#000 0 0);
					mask-composite: exclude;
					transition: all var(--anim--hover-time) var(--anim--hover-ease);
					overflow: visible;
					opacity: 1;
				}

				/* ========== BUTTON BASE STYLES ========== */

				button {
					/* Basic Styling */
					--border-width: clamp(1px, 0.0625em, 4px);
					all: unset;
					cursor: pointer;
					position: relative;
					-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
					pointer-events: auto;
					z-index: 3;
					background: linear-gradient(-75deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
					border-radius: 999vw;
					box-shadow:
						inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
						inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
						0 0.25em 0.125em -0.125em rgba(0, 0, 0, 0.2),
						0 0 0.1em 0.25em inset rgba(255, 255, 255, 0.2),
						0 0 0 0 rgba(255, 255, 255, 1);
					backdrop-filter: blur(clamp(1px, 0.125em, 4px));
					-webkit-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
					-moz-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
					-ms-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
					transition: all var(--anim--hover-time) var(--anim--hover-ease);
				}

				button:hover {
					transform: scale(0.975);
					backdrop-filter: blur(0.01em);
					-webkit-backdrop-filter: blur(0.01em);
					-moz-backdrop-filter: blur(0.01em);
					-ms-backdrop-filter: blur(0.01em);
					box-shadow:
						inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
						inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
						0 0.15em 0.05em -0.1em rgba(0, 0, 0, 0.25),
						0 0 0.05em 0.1em inset rgba(255, 255, 255, 0.5),
						0 0 0 0 rgba(255, 255, 255, 1);
				}

				/* Button Text */
				button span {
					position: relative;
					display: block;
					user-select: none;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					font-family: 'Inter', sans-serif;
					letter-spacing: -0.05em;
					font-weight: 500;
					font-size: 1em;
					color: rgba(50, 50, 50, 1);
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					text-shadow: 0em 0.25em 0.05em rgba(0, 0, 0, 0.1);
					transition: all var(--anim--hover-time) var(--anim--hover-ease);
					padding-inline: 1.5em;
					padding-block: 0.875em;
				}

				button:hover span {
					text-shadow: 0.025em 0.025em 0.025em rgba(0, 0, 0, 0.12);
				}

				/* Text */
				button span::after {
					content: '';
					display: block;
					position: absolute;
					z-index: 1;
					width: calc(100% - var(--border-width)); /* Prevent overlapping border */
					height: calc(100% - var(--border-width));
					top: calc(0% + var(--border-width) / 2);
					left: calc(0% + var(--border-width) / 2);
					box-sizing: border-box;
					border-radius: 999vw;
					overflow: clip;
					background: linear-gradient(var(--angle-2), rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 40% 50%, rgba(255, 255, 255, 0) 55%);
					z-index: 3;
					mix-blend-mode: screen;
					pointer-events: none;
					background-size: 200% 200%;
					background-position: 0% 50%;
					background-repeat: no-repeat;
					transition:
						background-position calc(var(--anim--hover-time) * 1.25) var(--anim--hover-ease),
						--angle-2 calc(var(--anim--hover-time) * 1.25) var(--anim--hover-ease);
				}

				button:hover span::after {
					background-position: 25% 50%;
				}

				button:active span::after {
					background-position: 50% 15%;
					--angle-2: -15deg;
				}

				/* Touch Devices */
				@media (hover: none) and (pointer: coarse) {
					button span::after,
					button:active span::after {
						--angle-2: -45deg;
					}
				}

				/* ========== BUTTON OUTLINE ========== */

				/* Outline */
				button::after {
					content: '';
					position: absolute;
					z-index: 1;
					inset: 0;
					border-radius: 999vw;
					width: calc(100% + var(--border-width));
					height: calc(100% + var(--border-width));
					top: calc(0% - var(--border-width) / 2);
					left: calc(0% - var(--border-width) / 2);
					padding: var(--border-width);
					box-sizing: border-box;
					background:
						conic-gradient(from var(--angle-1) at 50% 50%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 5% 40%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 60% 95%, rgba(0, 0, 0, 0.5)), linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
					mask:
						linear-gradient(#000 0 0) content-box,
						linear-gradient(#000 0 0);
					mask-composite: exclude;
					transition:
						all var(--anim--hover-time) var(--anim--hover-ease),
						--angle-1 500ms ease;
					box-shadow: inset 0 0 0 calc(var(--border-width) / 2) rgba(255, 255, 255, 0.5);
				}

				button:hover::after {
					--angle-1: -125deg;
				}

				button:active::after {
					--angle-1: -75deg;
				}

				@media (hover: none) and (pointer: coarse) {
					button::after,
					button:hover::after,
					button:active::after {
						--angle-1: -75deg;
					}
				}

				/* Shadow Hover */
				.button-wrap:has(button:hover) .button-shadow {
					filter: blur(clamp(2px, 0.0625em, 6px));
					-webkit-filter: blur(clamp(2px, 0.0625em, 6px));
					-moz-filter: blur(clamp(2px, 0.0625em, 6px));
					-ms-filter: blur(clamp(2px, 0.0625em, 6px));
					transition: filter var(--anim--hover-time) var(--anim--hover-ease);
				}

				.button-wrap:has(button:hover) .button-shadow::after {
					top: calc(var(--shadow-cuttoff-fix) - 0.875em);
					opacity: 1;
				}

				/* Rotation */
				.button-wrap:has(button:active) {
					transform: rotate3d(1, 0, 0, 25deg);
				}

				.button-wrap:has(button:active) button {
					box-shadow:
						inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
						inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
						0 0.125em 0.125em -0.125em rgba(0, 0, 0, 0.2),
						0 0 0.1em 0.25em inset rgba(255, 255, 255, 0.2),
						0 0.225em 0.05em 0 rgba(0, 0, 0, 0.05),
						0 0.25em 0 0 rgba(255, 255, 255, 0.75),
						inset 0 0.25em 0.05em 0 rgba(0, 0, 0, 0.15);
				}

				.button-wrap:has(button:active) .button-shadow {
					filter: blur(clamp(2px, 0.125em, 12px));
					-webkit-filter: blur(clamp(2px, 0.125em, 12px));
					-moz-filter: blur(clamp(2px, 0.125em, 12px));
					-ms-filter: blur(clamp(2px, 0.125em, 12px));
				}

				.button-wrap:has(button:active) .button-shadow::after {
					top: calc(var(--shadow-cuttoff-fix) - 0.5em);
					opacity: 0.75;
				}

				.button-wrap:has(button:active) span {
					text-shadow: 0.025em 0.25em 0.05em rgba(0, 0, 0, 0.12);
				}
			}
		</style>

		<section id="center" class="demo-3">
			<div class="button-wrap">
				<button>
					<span>Generate</span>
				</button>
				<div class="button-shadow"></div>
			</div>
		</section>
	</DemoLayout>
</RootLayout>
