---
import RootLayout from '../layouts/RootLayout.astro';
import DemoLayout from '../layouts/DemoLayout.astro';
---

<script type="module">

</script>

<RootLayout>
	<DemoLayout type="full">
		<section id="center">
            <img src="/slide1.png" alt="Web vs Figma" style="width: 100%; height: auto;" />
        </section>
	</DemoLayout>
</RootLayout>
