<section id="next-steps">
    <div id="docs">
        <ul>
            <li>
                <a href="/"> Home </a>
            </li>
            <li>
                <a href="/web-vs-figma"> Web vs Figma </a>
            </li>
            <li>
                <a href="/demo-subgrid"> Subgrid </a>
            </li>
            <li>
                <a href="/demo-glass-effect"> Glass effect </a>
            </li>
            <li>
                <a href="/demo-container-query"> Container query </a>
            </li>
            <li>
                <a href="/demo-smart-layouts"> Smart layouts </a>
            </li>
            <li>
                <a href="/demo-inputs"> Fancy Inputs </a>
            </li>
            <li>
                <a href="/demo-inputs2"> Fancy Inputs 2 </a>
            </li>
            <li>
                <a href="/demo-sibling"> Sibling selectors </a>
            </li>
            <li>
                <a href="/demo-scroll-animation"> Scroll Animations </a>
            </li>
            <li>
                <a href="/demo-filters"> Filters </a>
            </li>
            <li>
                <a href="/demo-view-transitions"> View Transitions </a>
            </li>
            <li>
                <a href="/demo-color"> Color (OKLCH / OKLAB) </a>
            </li>
            <li>
                <a href="/demo-color-mix"> Color Mix </a>
            </li>
            <!-- <li>
                <a href="/demo-carousel"> Carousel :) </a>
            </li> -->
        </ul>
    </div>
</section>
